* {
    margin: 0;
    padding: 0;
    color: #2F4858;
}

.navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: #2B985A;
    color: #2F4858;
}

.navTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: inherit;
    width: 20%;
    color: #2F4858;
}

.navEnlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: inherit;
    width: 60%;
    color: #2F4858;
}

.navOpciones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 20%;
    color: #2F4858;
}

.navBar div #logo {
    height: 100%;
    margin: 0 2rem 0 2rem;
    filter: invert(1);
}

.cantidadCestaNav {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: #DEAF00;
    border: 2px solid #FFFFFF;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorTabla button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuDesplegable {
    display: none;
}

#loginMsj {
    position: absolute;
    margin-top: 7%;
    z-index: 999;
}

.btn:hover {
    background-color: #008073;
    color: #FFFFFF;
}

.btn {
    background-color: #2B985A;
    color: #FFFFFF;
}

table .btn {
    background-color: #2B985A;
}

table .btn:hover {
    background-color: #2B985A;
    filter: sepia(1);
}

a {
    color: #006472;
}

a:hover {
    color: #2F4858;
}

#botonDetalles {
    color: #FFFFFF;
}

@media only screen and (max-width: 1200px) {
    #tituloPrincipal {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    #menuDesplegable {
        display: flex;
    }

    .dropdown-item.active {
        background-color: #2B985A;
    }

    .navEnlaces > a {
        display: none;
    }

    .navTitulo {
        display: none;
    }

    .logoMenu {
        height: 75px;
        width: 75px;
        filter: invert(1);
    }

    #menuDesplegable button {
        height: 60%;
    }

    .navBar {
        justify-content: space-around;
    }

    .navEnlaces {
        margin: 0;
        padding: 0;
        width: auto;
    }

    #contenedorTabla {
        width: 100%;
    }

    #contenedorTabla img{
        height: 60px;
    }

    #contenedorTabla button {
        height: 45px;
        width: 45px;
    }

    #contenedorTabla button img {
        height: 28px;
        width: 28px; 
    }

    #contenedorTabla td{
        font-size: 15px;
    }

    #nombreProducto {
        font-size: 15px !important;
    }

    #contenedorTabla select{
        width: 10px;
    }

    #imgUltimasUnidades {
        width: 40px !important;
        height: 35px !important;
    }
}
